// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --azul: #1483D2;
  --azul-claro: #159de9;
  --branco: #E0E0E0;
  --carbon: #0C0C0C;
  --onyx: #060606;
}
