<ion-app>

  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>

    <ion-tab-bar slot="top" class="navbar" selectedTab="home">

      <svg class="background-svg" preserveAspectRatio="none" viewBox="0 0 1332 66" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0.683228 0L76.1509 65H1331.68V0H0.683228Z" fill="#060606" stroke="#060606" stroke-width="0.507322" />
      </svg>

      <div class="logo-container">
        <img src="../assets/img/SolucaoAuto semBG navbar.png" alt="Solução Auto">
      </div>

      <ion-tab-button tab="home" class="nav-item">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="atendimento" class="nav-item">
        <ion-icon name="headset-outline"></ion-icon>
        <ion-label>Atendimento</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="catalogo" class="nav-item">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Catálogo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="carrinho" class="nav-item">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil" class="nav-item">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Meu perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


</ion-app>